<div *ngIf="(comments$ | async) as comments">
  <ul class="list-unstyled comment-list">
    <li *ngFor="let comment of comments">
      <a [routerLink]="['/user', comment.userName]">
        {{ comment.userName }}
      </a>

      <small>
        <em>
          {{ comment.date | date:'dd/MM/yy HH:mm' }}
        </em>
      </small>

      <p class="breack-word mb-2">
        {{ comment.text }}
      </p>
    </li>
  </ul>

  <div showIfLogged class="mt-4">
    <form [formGroup]="commentForm" (submit)="save()">
      <div class="input-group">
        <textarea class="form-control" formControlName="comment"></textarea>

        <div class="input-group-append">
          <button [disabled]="commentForm.invalid" type="submit" class="btn btn-primary pull-left">
            Publish
          </button>
        </div>
      </div>

      <app-vmessage *ngIf="commentForm.get('comment').errors?.maxlength">Maximun size allowed is 300</app-vmessage>
      <app-vmessage *ngIf="commentForm.get('comment').errors?.requried">Comment is required</app-vmessage>
    </form>
  </div>
</div>
