.loading {
  position: relative;
  display: block;
  margin: 0;
  background: #5aaaff;
  animation: progress .8s linear infinite;
  animation-direction: alternate;
  height: 0.2em;
}

@keyframes progress {
  0% {
    left: 0;
    width: 0;
  }
  30% {
    left: 10%;
    width: 40%;
  }
  70% {
    left: 50%;
    width: 40%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}

.stopped {
  display: none;
}
