<div class="row">
    <div class="col-md-12">

        <form>
            <div class="input-group">
                <input #textoProcurado (keyup)="0" class="form-control" placeholder="filtrar pelo título da foto">
                <span class="input-group-btn">
                    <a routerLink="/cadastro" class="btn btn-primary">Nova foto</a>
                </span>
            </div>
        </form>

    </div>
</div>
<br>

<p class="alert alert-info" *ngIf="mensagem?.length">{{ mensagem }}</p>

<div class="row">
    <painel *ngFor="let foto of fotos | filtroPorTitulo: textoProcurado.value; trackBy: trackByFnFoto" [titulo]="foto.titulo | uppercase"
        class="col-sm-2">
        <a [routerLink]="['/cadastro', foto._id]">
            <foto [titulo]="foto.titulo" [url]="foto.url"></foto>
        </a>
        <botao estilo="btn-danger btn-block" (acao)="remover(foto)" confirmar="Confirma exclusão desta foto?">Remover</botao>
    </painel>
</div>
<!-- fim row -->