<div class="container">

  <h4 class="text-center">Login</h4>

  <form [formGroup]="loginForm" class="form mt-4" (submit)="login()">

    <app-valert *ngIf="msg">
      {{ msg }}
    </app-valert>

    <div class="form-group">
      <input type="text" formControlName="userName" #userNameInput class="form-control" placeholder="User name" autofocus>

      <app-vmessage *ngIf="loginForm.get('userName').errors?.required && loginForm.get('userName').touched">
        User name is required!
      </app-vmessage>
    </div>

    <div class="form-group">
      <input type="password" formControlName="password" class="form-control" placeholder="password" autofocus>

      <app-vmessage *ngIf="loginForm.get('password').errors?.required && loginForm.get('password').touched">
        Password is required!
      </app-vmessage>
    </div>

    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-block">Login</button>
  </form>

  <p>
    Not a user?
    <a [routerLink]="['signup']">Register now</a>
  </p>

</div>
