<header class="fixed-top">
  <nav class="navbar navbar-light bg-white">
    <a [routerLink]="['']" class="navbar-brand">
      Alurapic
    </a>

    <div *ngIf="(user$ | async) as user; else login">
      <i class="fa fa-user-circle"></i>
      {{ user.name }}, <a [routerLink]="['']" (click)="logout()">logout</a>
    </div>

    <ng-template #login>
      <span class="navbar-text">
        <a [routerLink]="['']">Please, login!</a>
      </span>
    </ng-template>
  </nav>

  <div class="fixed-top mt-5">
    <app-notify></app-notify>
  </div>
</header>
